.inputFeild{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.squre{
    width: 100%;
    height: 100%;
    background: white;
}

.spaceKey{
  background: yellow;
}

.enterKey{
  background: indigo;
}

.oneKey{
  background: brown;
}

.twoKey{
  background: orange;
}

.threeKey{
  background: green;
}